body{background: #D6BB71 ; /*url(images/geometry21.jpg)*/
	margin: 0;
	padding: 0;
	font: 16px/24px Arial, Tahoma, sans-serif;
	color: #332008;
}
a{text-decoration: none;
}
a:hover{transition: all 0.5s; /*чтобы медленнее менялся цвет на ВСЕХ ССЫЛКАХ*/
}
/*--------структура сайта-------------*/
div.mid{width:1000px;
	margin: 0 auto;
}
div.header{padding-top: 20px;
	background: 
	radial-gradient: (rgba (255, 255, 255, 0.7), #222B31, #4D3C3F 25px, transparent: 250px) 60% - 200px no-repeat;/*НЕ ПОЛУЧИЛОСЬ!!!*/
	background-color: #433314;
	background-size: 70px 70px;
}
div.footer{margin: 20px 0;
	text-align: center;
	text-transform: uppercase;
}
/*---------Шапка сайта------------*/
div.topmenu{float: right;
	height: 70px;
	line-height: 70px;/*высота строки*/
}
div.topmenu a {margin: 0 0 0 20px; color: #FF2F0F;/*чтобы МЕНЮ и пр не были прижаты друг  к другу*/
}
div.topmenu a:hover {color: #FFB81E; 
}
div.afisha {padding: 20px 50px 1px 50px;/*картинка-полоска в шапке*/
	margin-top: 20px;
	background: #f2f2f2;/*  url(images/headline.jpg) top repeat-x;*/
	background: linear-gradient(90deg, #77A65B 100px, #9B89AA 100px, #a367ba 200px, #2b798f 200px, #2b798f 300px, #76a7ac 300px, #76a7ac 400px, #93ae65 500px,#dbb16f  500px) left top repeat-x;
	background-color: #408C33;
	background-size: 600px 10px;
}
div.afisha img{float: left;
}

div.afisha h3{font-size: 18px;
	font-weight: bold ;
	text-align: center;
	color: #830000;
}
div.afisha p{text-align: center;
}
div.afisha a{font-size: 20px; 
	color: #F2C964;
	font-weight: bold;
	background: #C04629;
	border: 2px solid #862900;
	padding: 5px 15px;
	border-radius: 5px;
	box-shadow: 4px 4px 17px 2px #535353;
	text-shadow: 4px 4px 5px black;
}
div.afisha a:hover{color: #fff;
	background: #EF7558;
	border: 2px solid #3F0100;
	font-size: 22px;
	
}
/*--------- ГЛАВНОЕ МЕНЮ ---------------*/
div.menu{background: #B96A42;
	border: 1px solid #4CFF96;
	border-left:none;
	border-right: none;
}
div.menu ul{margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
div.menu ul li{display: inline-block; 
	margin: 5px 30px; /*чтобы в меню навигацию выставить в 1 ряд*/
}
div.menu ul li a{color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 4px 4px 3px black;/*все буквы - заглавные */
}
div.menu ul li a:hover{color: #F0FC09;
}
/*---------- КОНТЕНТ САЙТА --------------------------------*/
div.fon{background: #5DB240;
	border: 1px solid #535344;
	border-top: none;
	padding: 40px;
	margin: 0 0;
}
div.fon hr.line{border:none;
	border-bottom: 2px dashed #4CFF96;
	height: 0; 
	margin: 40px;/* пунктир под блоками*/
}
div.block{width: 440px;
	float: left;	
}
div.block:nth-of-type(even){float: right;/*все четные блоки выравниваются к правому краю*/
}
div.block a p{color: black;/*текст ниже - другого цвета от родителя*/
}
div.anons{background: #f5f5f5;
	border: 2px solid #c3c3c3;
	padding: 20px;
	border-radius: 3px;
}
div.anons:hover{color: blue; /*обводка вокруг 4х блоков*/
	border: 2px solid black;
	transition: all 1s; /*плавно меняется цвет обводка*/
}
div.anons img{box-shadow: 7px 5px 5px gray;
	transition: transform 0.5s;
}
div.anons:hover img{transform: scale(1.2) rotate(3deg); 
	
}   /*-----------для анимации ----------------*/
div.block:nth-of-type(even) div.anons img:hover{transform: scale(1.2) rotate(-3deg); 
}  
div.anons h3{font-size: 20px;
	margin: 20px 0 10px;
	color: #43677d;
	padding: 0;
	font-weight: normal;
	line-height: 20px;
}
div.anons p{text-shadow: 2px 2px 0 #fff;/*чтобы выглядел как вдавленный*/
}
/*-----рекламный блок -------------------------*/
div.rec{margin: 40px 45px;	}
div.rec img{border: 2px solid #4CFF96; /*рамка вокруг рекламного блока*/
	padding: 20px;
	border-radius: 28px; /*закругление рамки */
	position: center;/* центральное положение картинки*/
	margin-top: 3px; 
	position: relative;
}
@-webkit-keyframes bla-bla-bla{
	0%{top: 0;}
	10%{top: 40px;}
	20%{top: -30px;}
	30%{top: 40px;}
	40%{top: -20px;}
	50%{top: 40px;}
	60%{top: -10px;}
	70%{top: 40px;}
	80%{top: 0;}
	90%{top: 40px;}
	95%{top: 20px;}
	100%{top: 0;}
}
div.rec img:hover{-webkit-animation: bla-bla-bla 1.5s;/*для Opera*/
	-moz-animation: bla-bla-bla 1.5s;/*для старых браузеров*/
	animation: bla-bla-bla 1.5s;/*для IE7 и faerfox */
}*/

/* -------- FOOTER --------------------------------------*/
div.footer span{margin: 0 20px;
}
div.clear {clear: both;
}
/*------ АДАПТИВНЫЙ ДИЗАЙН -------------------*/
@media screen and (max-width:1000px){
	div.mid{width:95%;}
	div.afisha h3{font-size: 16px;}
	div.block{width: 48%;}
	div.anons img, div.rec img{100%;}
	div.anons h3{font-size: 14px;}	
}
@media screen and (max-width:640px){
	div.header{text-align: center;
		background-position: center -150px;
	}
	div.topmenu{float: none;}
	div.afisha img{float: none;}
	div.block, div.block:nth-of-type(even){float: none;}
	div.block{width: auto;
		margin-bottom: 40px;
	}
	div.block:nth-last-of-type(2){margin-bottom: 0;}
	div.footer span{margin: 10px 0;
		display: block;
	}
}

